<div class="d-flex align-items-center justify-content-center"id='banner-container'>
  <p id="banner-text">The new way to sell your old goods!</p>
</div>
<div class='d-flex justify-content-between row gx-0' id='home_categories_cont'>
  <div class='home-categories col-sm col' id='first-home-cat'><p class='categories-text'>Electronics</p></div>
  <div class='home-categories col-sm col'><p class='categories-text'>Furniture</p></div>
  <div class='home-categories col-sm col'><p class='categories-text'>Tools</p></div>
  <div class='home-categories col-sm col'><p class='categories-text'>Books</p></div>
  <div class='home-categories col-sm col'><p class='categories-text'>Clothes</p></div>
  <div class='home-categories col-sm col' id='last-home-cat'><p class='categories-text'>Others</p></div>
</div>
<div id="items-section-container" class='d-flex flex-column' >
  <div id='item-sorter-home-container'>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Price (lowest first)</a></li>
        <li><a class="dropdown-item" href="#">Price (highest first)</a></li>
        <li><a class="dropdown-item" href="#">Date posted (newest first)</a></li>
        <li><a class="dropdown-item" href="#">Date posted (oldest first)</a></li>
      </ul>
    </div>
  </div>
  <div class="row gx-0" id="items-container">
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
    <div class="items-home col-sm-3 col-11 d-flex flex-column">
      <div class="image-item-home"></div>
      <div class="item-infos d-flex flex-column">
      <h3>Product name</h3>
      <p>price ($)</p>
      </div>
    </div>
  </div>
</div>
