<div class="d-flex align-items-center justify-content-center"id='banner-container'>
  <p id="banner-text">The new way to sell your old goods!</p>
</div>
<div class='d-flex justify-content-between' id='home_categories_cont' >
  <div class='home-categories'><p class='categories-text'>Electronics</p></div>
  <div class='home-categories'><p class='categories-text'>Home furniture</p></div>
  <div class='home-categories'><p class='categories-text'>Tools</p></div>
  <div class='home-categories'><p class='categories-text'>Books</p></div>
  <div class='home-categories'><p class='categories-text'>Clothes</p></div>
</div>
<div>
</div>
