<div class="d-flex align-items-center justify-content-center"id='banner-container'>
  <p id="banner-text">The new way to sell your old goods!</p>
</div>
<div class='d-flex justify-content-between row gx-0' id='home_categories_cont'>
  <div class='home-categories col-sm col-4' id='first-home-cat'><p class='categories-text'>Electronics</p></div>
  <div class='home-categories col-sm col-4'><p class='categories-text'>Furniture</p></div>
  <div class='home-categories col-sm col-4'><p class='categories-text'>Tools</p></div>
  <div class='home-categories col-sm col-4'><p class='categories-text'>Books</p></div>
  <div class='home-categories col-sm col-4'><p class='categories-text'>Clothes</p></div>
  <div class='home-categories col-sm col-4' id='last-home-cat'><p class='categories-text'>Others</p></div>
</div>
<div id="items-container" class='d-flex flex-column' >
  <div id='item-sorter-home-container'>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div>
  </div>
</div>
